*.swp
*.swo
*~
.netrwhist
Session.vim
.cache/
compile_commands.json

build/
_build/

subprojects/*

!subprojects/*.wrap

!subprojects/packagefiles/

subprojects/libliftoff.wrap

.vscode/
.idea/

.DS_Store
